.link_main {
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
    border-radius: 1rem;
    margin: 0 auto;
    transition: border ease-in-out;
    width: 600px;
    text-align: center;
    display: inline-block;
}

.link_main::before {
    content: 'â† ';
}

.link_main:hover {
    opacity: 0.7;
}