.link_main {
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
    border-radius: 1rem;
    margin: 1rem auto;
    margin-top: -0.5rem;
    transition: border ease-in-out;
    width: 600px;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.link_main::before {
    content: '← ';
}

.link_main:hover {
    opacity: 0.8;
    transform: scale(1.1);
}