.link_main {
    text-decoration: none;
    padding: 0.5rem;
    background-color: #FF5A49;
    border-radius: 0.5rem;
    margin: 0 auto;
    transition: border 0.15s ease-in-out;
}

.link_main:hover {
    border: 0.2rem solid var(--main-color);
}