@import "font.css";

:root {
  --diadoc-color: #00ccae;
  --background-color: white;
  --qr: #FF5A49;
  --main-color: black;
  --mobile-width: 400px;
  --table-width: 600px;
  --notebook-width: 800px;
  --desktop-width: 1000px;
}

* {
  font-size: 24px;
  font-family: "Lab Grotesque", "Segoe UI", -apple-system, "Ubuntu Mono", sans-serif;
  color: var(--main-color);
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}
