.postcard__container {
  margin: 0 auto;
  width: var(--mobile-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  animation: welcome-animation 2s forwards;
}

.postcard__image {
  width: var(--mobile-width);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.postcard__description {
  margin-bottom: 8rem;
}

.description__title {
  text-align: center;
  font-size: 2.5rem;
}

.description__congratulation {
  font-weight: 400;
}

.postcard__footer {
  position: absolute;
  bottom: 0;
  width: 600px;
  background-color: var(--diadoc-color);
  border-radius: 1rem;
  max-width: var(--mobile-width);
  animation: footer-animation 2s forwards;
  border: 0.25rem solid var(--main-color);
}

.footer__description {
  text-align: center;
  font-weight: 700;
  padding: 0.5rem;
}

.description__suggestions_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row dense;
  gap: 1rem;
}

.description__suggestion {
  background-color: var(--diadoc-color);
  padding: 1rem;
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  font-weight: 600;
}

.description__suggestion:hover {
  transform: scale(1.1);
  box-shadow: var(--main-color) 0px 1px 4px, var(--main-color) 0px 0px 0px 3px;
}

.light1 {
  display: block;
  position: fixed;
  top: 60%;
  right: 16%;
  height: 10vw;
  width: 10vw;
  min-width: 139.94px;
  min-height: 145.77px;
  z-index: -1;
  background: conic-gradient(#2291FF, #08a3fd);
  animation: light-pulse 1.25s ease-out infinite both alternate;
  border-radius: 50%;
  filter: blur(16px);
}

.light2 {
  display: block;
  position: fixed;
  top: 33%;
  left: 50%;
  height: 10vw;
  width: 10vw;
  min-width: 139.94px;
  min-height: 145.77px;
  z-index: -1;
  background: conic-gradient(#2291FF, #08a3fd);
  animation: light-pulse 1.25s ease-out infinite both alternate;
  border-radius: 50%;
  filter: blur(24px);
}

.light3 {
  display: block;
  position: fixed;
  bottom: 6%;
  right: 50%;
  height: 10vw;
  width: 10vw;
  min-width: 139.94px;
  min-height: 145.77px;
  z-index: -1;
  background: conic-gradient(#2291FF, #08a3fd);
  animation: light-pulse 1.25s ease-out infinite both alternate;
  border-radius: 50%;
  filter: blur(36px);
}

.light4 {
    display: block;
    position: 
    fixed;
    bottom: 35%;
    left: 14%;
    height: 10vw;
    width: 10vw;
    min-width: 139.94px;
    min-height: 145.77px;
    z-index: -1;
    background: conic-gradient(#2291FF, #08a3fd);
    animation: light-pulse 1.25s ease-out infinite both alternate;
    border-radius: 50%;
    filter: blur(36px);
  }

.description__suggestions_title {
  font-size: 2rem;
}

.checkbox {
  appearance: none;
} 

.grid_wrapper > label {
	display: flex;
	justify-content: center;
	align-items: center;
  position: relative;
}

.grid_wrapper > label > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
  filter: brightness(0.4);
}

.grid_wrapper {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-auto-flow: dense;
}

.grid_wrapper .wide {
	grid-column: span 3;
  position: relative;
  transition: all 0.2s ease-in-out;
  will-change: transform;
  background-color: #49423d;
  border-radius: 1rem;
  cursor: pointer;
}

.grid_wrapper .wide:has(input[type=checkbox]:checked) {
  background-color: #2291FF;
  color: white;
}

.grid_wrapper .tall:has(input[type=checkbox]:checked) {
  background-color: #2291FF;
}

.grid_wrapper .tall:has(input[type=checkbox]:checked) h3 {
  color: white;
}

.grid_wrapper .big:has(input[type=checkbox]:checked) {
  background-color: #2291FF;
}

.grid_wrapper .tall {
	grid-row: span 3;
  position: relative;
  min-width: 230px;
  transition: all 0.2s ease-in-out;
  will-change: transform;
  border-radius: 1rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.grid_wrapper .big {
	grid-column: span 3;
	grid-row: span 2;
  position: relative;
  transition: all 0.2s ease-in-out;
  will-change: transform;
  background-color: #49423d;
  border-radius: 1rem;
  cursor: pointer;
}

.description {
  text-align: center;
  padding: 0.5rem;
  text-wrap: balance;
}

.button {
  background-color: #2291FF !important;
  color: #fff;
  font-weight: 700;
  grid-column: 3 span;
  font-size: 2rem;
  outline: 0;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  height: max(10vh, 150px);
  padding: 24px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

:is(.grid_wrapper .big, .grid_wrapper .tall, .grid_wrapper .wide):hover {
  transform: scale(1.05);
}

.image {
  max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

@keyframes light-pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes welcome-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes footer-animation {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

@media screen and (min-width: 768px) {
  .postcard__container,
  .postcard__image {
    width: var(--table-width);
  }

  .description__suggestions_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .postcard__container,
  .postcard__image {
    width: var(--notebook-width);
  }

  .description__suggestions_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .postcard__container,
  .postcard__image {
    width: var(--desktop-width);
  }

  .grid_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}